body{
    margin: 0;
}
header{
    background-color: rgb(81, 140, 234);
}
nav{
    display: flex;
    list-style-type: none;
    justify-content:space-around;
    padding: 10px;
    gap:20px;
}
.link{  
    color: rgb(255, 252, 252);
    text-decoration: none;
    padding: 3px;
    border-radius: 10px;
    font-weight: bold;
}
.link:hover{
    background-color: crimson;
    color:aqua;
}
.ski{
display: none;
}
.linki:hover .ski{
display: block;
transform: translate(0px,100px);
}
li{
    list-style-type: none;
}

