@media (min-width:1000px) {
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: cyan;
    padding: 20px;
    align-items: center;
}
h2{
    color: aliceblue;
}
.child{
    margin:10px;
    padding: 10px;  
    border-radius: 20px;
    background-color: black;
    transition: transform 2s;
 }
 img{
     width:320px;
     height:250px;
 }
 .child:hover{
     transform: scale(0.5);
 }
}
@media (max-width:600px) {
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        background-color: cyan;
        padding: 5px;
        align-items: center;
    }
    h2{
        color: aliceblue;
    }
    .child{
       margin:5px;
       padding: 10px;  
       border-radius: 20px;
       border: 5px solid black;
       background-color: black;
       transition: transform 2s;
    }
    img{
        width:150px;
        height:160px;
    }
    .child:hover{
        transform: rotate(360deg);
    }
}