body{
    margin: 0px;
}
nav{
    display: flex;
    list-style-type: none;
    background-color: rgb(62, 119, 204);
    color: white;
    justify-content: space-around;
    padding:10px;
    margin: 0;
    color:white;

}

.box{
    display: inline-block;
    position: relative;
    padding: 3px;
}
.box-1{
    display: block;
    position: absolute;
    background-color: rgb(105, 115, 118);
    padding: 5px;
    top:10px;
}
.box-2{
    display: block;
    padding: 5px;
}
li a{
    list-style-type: none;
    text-decoration: none;
    color: #ffffff;
}
.box-2 a{
    text-decoration: none;
    color: #ffffff;
}
