body{
    margin: 0px;
}
.form{ 
    width: 60vw;
    height: 60vh;
   margin-top: 3% ;
   margin-left: 25%;
margin-bottom: 20%;
margin-right: 25%;
}
h1{
    margin-right:140px ;
    background-color: aqua;
}
.form1{
    width:400px;
    border: 3px solid rgb(12, 12, 12);
    border-radius: 20px;
    margin-top:50px;
    margin-left:200px;
    padding-left: 20px;
}
input{
    display: block;
    border-radius: 10px;
    background-color: antiquewhite;
    width: 300px;
    margin: 10px;
    padding: 10px;
}
.radio-group {
    display: flex;
    gap: 5px;
    margin: 0;
  }

  .radio-group input{
    width:20px;
      margin: 20px;
      gap: 5px;
  }
.btn{
    margin-left: 270px;
    align-items: center;
    
}
.bt{
    margin-top: 30px;
    margin-left: 350px;
    width: 100px;
    border-radius: 5px;
}
